<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showka.MyBatisDemo.mapper.TodoMapper">

	<insert id="insert" useGeneratedKeys="false" keyProperty="title">
		INSERT
		INTO todo
		set
		title = #{title}
		,details = #{details}
		, finished =
		#{finished}
		<include refid="Common.insertSet" />
	</insert>

	<update id="update" useGeneratedKeys="false" keyProperty="title">
		UPDATE
		todo
		set
		title = #{title}
		,details = #{details}
		, finished =
		#{finished}
		<include refid="Common.updateSet" />
		WHERE
		title = #{title}
		<include refid="Common.updateWhere" />
	</update>

	<select id="select" resultMap="Entity.todo">
		SELECT *
		FROM todo WHERE title =
		#{title}
		<include refid="Common.select" />
	</select>

</mapper>